{% extends 'base.html.twig' %}

{% block navbar %}
    <ul class="nav">
        <li><a href="/">Главная</a></li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == '' %}
            <li class="active"><a href="/login">Авторизация</a></li>
            <li><a href="/reg">Регистрация</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <div class="span4"></div>
    <div class="span3">
        {% if error %}
            <div class="alert alert-error">
                Вход в систему с указанными данными невозможен
            </div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
            <div class="control-group">
                <b>Авторизация</b>
            </div>
            <div class="control-group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Логин"
                       data-cip-id="inputLogin" autocomplete="off">
            </div>
            <div class="control-group">
                <input type="password" id="password" name="_password" placeholder="Пароль"
                       data-cip-id="inputPassword">
            </div>
            <div class="control-group">
                <label class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked /> Запомнить меня
                </label>
                <input type="hidden" name="_target_path" value="/" />
                <button type="submit" class="btn btn-primary">Вход</button>
            </div>
        </form>
    </div>
{% endblock %}